// main: style.less 

//SherpaDesk
@dashboardHeader: #25B0E6;
@dashboardbody: #34495e;
@dashboard: rgba(0, 0, 0, .4);
@wrapper: #0099CC;
@table: rgba(224,224,224,.29);
@circle: #42bd41;
@selection: #489CD6;
@menu: rgba(136, 221, 250, 0.43);
@frame: #ffffff;
@plus: @dashboard;
@logo: @dashboardbody;
@org: @wrapper;
@recipient: @wrapper;
