// main: style.less 

//SherpaDesk
@dashboardHeader: #25B0E6;
@dashboardbody: #34495e;
@dashboard: rgba(0, 0, 0, .4);
@wrapper: #0099CC;
@table: @dashboardHeader;
@circle: #42bd41;
@selection: #489CD6;
@menu: #88DDFA;
@frame: #ffffff;
@plus: rgba(189,195,199,.5);
@login: @dashboardbody;
@org: @wrapper;
@recipient: @wrapper;
@email: rgba(0,0,0,.6);
@text: @frame;
@response: #DADADA;
@time: @frame;
@addtime: @selection;
@list: rgba(224, 224, 224, 0.29);
@action: #4695c9;
@noTicket: rgba(255, 255, 255, 0.3);