@media screen and (min-width: 775px)  {
/*.activeNav {
  background: rgba(14, 14, 22, 0.91);
  float: left;
  height: 100%;
  max-width: 300px;
  width: 30%;
  z-index: 4;
}*/

.topHeader {
  list-style-type: none;
  width: 95%;
  margin: 0 auto;
}
    
#date_start, #date_end {width: 49.5% !important}

.dashboard {
  background: rgba(0,0,0, .4);
  height: 190px;
  position: relative;
  width: 100%;
}

.dashboardLeft {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 3255, .4);
  padding-top: 15px;
}

.sideStats {
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  padding-top: 15px;
}

.sideStats {
  list-style-type: none;
  height: 100%;
  width: 55%;
  /* margin-top: 10px; */
  padding-top: 15px;
  max-width: 396px;
  display: block;
  margin: 10px auto;
}

.QueuesTickerContainer {
  width: 60%;
  margin: 0 auto 25px;
  overflow: auto;
  max-width: 650px;
}

.ActiveAccountsContainer {
  width: 60%;
  margin-left: 20px;
  overflow: auto;
  z-index: 1;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 650px;
}

.tableHeader li {
  float: left;
  width: 23%;
  text-align: center;
  margin-bottom: 10px;
}

.tks1 {
  width: 40px;
  background: #0099CC;
  text-align: center;
  line-height: 35px;
  margin-left: 60px !important;
  margin-top: 7px;
  font-size: 21px;
  position: relative;
}

.bottomHeader li {
  color: #ffffff;
  float: left;
  font-size: 14px;
  width: 28%;
  text-align: center;
  line-height: 55px;
  vertical-align: middle;
}

.bottomHeader {
  background: #0099CC;
  height: 55px;
  list-style-type: none;
  width: 100%;
  z-index: -3;
  opacity: .9;
}

.timelogs {
  padding-top: 35px;
  list-style-type: none;
  overflow: visible;
  max-width: 650px;
  margin: 0 auto;
}

.tks {
  width: 40px;
  background: #0099CC;
  text-align: center;
  line-height: 35px;
  margin: 14px 18px;
}

.tabpageContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: visible;
  overflow-x: hidden;
  max-width: 650px;
}
    
.TicketTabs > ul > li {
  width: 18%;
  text-align: center;
  line-height: 70px;
  height: 60px;
  display: block;
  float: left;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #0099CC;
}

.CreateInvoiceWrapper {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding-top: 30px;
  max-width: 650px;
}

.accountContainer {
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  max-width: 650px;
}

.QueuesContainer {
  width: 90%;
  overflow: auto;
  margin: 0 auto;
  max-width: 650px;
}

.tabpage {
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

.TDSListWrapper {
  width: 90%;
  height: 60px;
  margin: 10px auto;
  padding-top: 10px;
  color: #ffffff;
  max-width: 600px;
}

.accountDetailsContainer {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 650px;
}

}