@media screen and (min-width: 550px)  {
  .ActiveAccountsContainer {
    width: 90%;
    margin-left: 20px;
    overflow: auto;
    z-index: 1;
    padding-top: 20px;
    margin: 0 auto;
  }
  /*.activeNav {
    width: 40%;
    height: 100%;
    background: rgba(14, 14, 22, 0.91);
    float: left;
    z-index: 4;
  }*/
  .tks {
    width: 35px;
    height: 35px;
    background: #0099CC;
    text-align: center;
    line-height: 35px;
    margin: 15px 18px;
  }
  .replyButton {
    float: right;
    border: none;
    width: 40%;
    height: 35px;
    background-color: #4bb24d;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-right: 35px;
    max-width: 180px;
    }

    .tableHeader li {
      float: left;
      width: 23%;
      text-align: center;
      margin-bottom: 10px;
    }
   
    .styledSelectSmall{
        width: 90% !important;
        float: left;
    }

}