<ion-menu id="leftMenu" [content]="content">
  <ion-content class="menu-bg">
      <ion-list no-lines>
          <div *ngFor="let p of pages" (click)="openPage(p)">
        <button detail-none *ngIf="p.is_active" ion-item>
          <i><ion-icon name="{{p.icon}}"></ion-icon></i>
              <h3>{{p.title}}</h3>
      </button>
      </div>
      </ion-list>
       </ion-content>
</ion-menu>
<div *ngIf="is_offline" class="offline_status {{ is_phonegap ? 'ios7style' : ''}}">OFFLINE</div>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
