<configuration>
<system.webServer>
<staticContent>
<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
</staticContent>
<caching enabled="true" enableKernelCache="true">
         <profiles>
            <add extension=".html" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".css" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".js" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".jpg" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".gif" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".png" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".woff" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".woff2" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".ttf" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".eot" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".svg" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".jpeg" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".ico" location="ServerAndClient" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
         </profiles>
      </caching>
<urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
</system.webServer>
</configuration>