html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
  margin: 0;
  font-weight: 300;
  font-family: 'Helvetica Neue', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
  -webkit-box-sizing:border-box;
    -moz-bos-sizing:border-box;
    box-sizing:border-box;
}

a {
  text-decoration: none;
  color:inherit;
}

body {
  background-color: #34495e;
  /*padding-top: 80px*/;
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

body, html {
/*  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;*/
  height: 100%;
  margin-left: -3px;
}

strong {
  font-size: 20px;
  font-weight: 650;
}

.blocks {
  list-style-type: none;
  width: 100%;
  height: 84%;
}

.blocks li {
  float: left;
}

.blue {
  background-color: #22a7f0;
  width: 40%;
  height: 70%;
  background-color: #22a7f0;
  width: 40%;
  position: absolute;
  height: 70%;
  z-index: 2;
}
}

.green {
  background-color: #2ecc71;
  width: 35%;
  height: 20%;
}

.orange {
  background-color: #EB974E;
  width: 20%;
  height: 50%;
}

.red {
  background-color: #EF4836;
  width: 35%;
  height: 50%;
}

.silver {
  background-color: #BDC3c7;
  width: 50%;
  height: 50%;
}

.purp {
  background-color: #BF55EC;
  width: 15%;
  height: 50%;
}

.tasker {
  float: left;
  width: 62%;
  height: 100%;
  background: url(mountainBG.jpg);
  background-size: cover;
}

.feedBacker {
  float: left;
  width: 38%;
  height: 100%;
  background: url(Default_Portrait.png);
  background-size: cover;
}

.boredSections {
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.boredSections li {
  float: left;
  width: 33.33%;
  height: 100%;
  border-left: 5px solid #D3D3D3;
}

.boredSections h1 {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  border-radius: 10px;
  margin: 10px auto;
  width: 70%;

}

.sectionList {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 10%; 
  width: 80%;
  overflow: auto;
}

.sectionList li {
  width: 80%;
  display: block;
  text-align: left;
  border-left: 0px;
  margin: 0 auto 15px;
  float: none;
  color: #fff;
}

.feedBacker h1 {
  color:#fff;
  margin-left: 10px;
}

.feedBackList {
  width: 80%;
  margin: 40% auto;
  list-style-type: none;
  color: #fff;
}

.feedBackList li {
  width: 80%;
  float: left;
  font-size: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
}

.feedBackList strong {
  font-size: 34px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.7);
  
}














