@font-face {
	font-family: Helvetica Neue;
	src: url("fonts/Helvetica/HelveticaNeue.otf");
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
  font-weight: 300;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}

a {
  text-decoration: none;
  color:inherit;
}

body, .sideNav {
	padding-top: 80px;
}

body, html {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
strong {
  font-size: 20px;
  font-weight: 650;
}

.backIcon {
	top: 0; right: 0; bottom: 0; left: 0;
	height: 25px;
	margin: auto 0;
	position: absolute;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.clearfix {
	clear: both;
}

.dark {
	background: url("../img/bg_dark.png");
	background-size: cover;	
}

.send {
	background: #4bb24d;
	border: none;
	color: #ffffff;
	font-size: 14px;
	height: 45px;
	margin-top: 15px;
	width: 100%;
}

.feedProfile {
	height: 50px;
}

.feedClock {
	height: 12px;
	display: inline;
	margin-right: 7px;
}

.feedName {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}

.feedTime {
	color: #ffffff;
	display: inline;
	font-size: 12px;
}

.plusIconHeader {
	height: 23px;
	margin-top: 12px;
	float: right;
}

.selectOptions {
	background: #489CD6;
	border: 0;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	border-radius: 0;
	margin: 2px 0 15px 0;
	color: #ffffff;
	height: 45px;
	width: 100%;
	-webkit-appearance: none;
	font-size: 16px;
	padding: 0 20px;
}

.reply {
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}

.replyIcon {
	height: 10px;
}

.textInput {
  background: rgba(0, 0, 0, .4);
  box-sizing:border-box;
    -moz-box-sizing:border-box;
  border: none;
  color: #ffffff;
  font-size: 16px;
  height: 140px;
  padding: 10px;
  width: 100%;
}

.ticketsView {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.ticketsDesc {
  color: #ffffff;
  font-size: 12px;
}

.greenButton {
	background: #4bb24d;
	border: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	height: 45px;
	margin: 15px 0 20px 0;
	width: 100%;
}

.styledSelect select {
   background: transparent;
   color: #ffffff;
   width: 100%;
   font-size: 16px;
   line-height: 1;
   border: none;
   height: 45px;
   padding: 0 20px;
   -webkit-appearance: none;
}

.styledSelect {
   width: 100%;
   height: 45px;
   margin: 2px 0 25px 0;
   overflow: hidden;
   background: url("../img/select_arrow.png") no-repeat #489CD6;
   background-position: top 18px right 18px;
}

/* SideNav
   ========================================================================== */

.bodyContent {
	background: url("../img/bg.png");
	background-size: cover;
	height: 100%;
}

.bodyContentDark {
	background: url("../img/bg_dark.png") no-repeat !important;
	background-size: cover !important;
	height: 510px;
	overflow: scroll;
}

header, .bodyContent {
	-webkit-transition: -webkit-transform .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in;
	     -o-transition: -o-transform .2s ease-in;
	        transition: transform .2s ease-in;	
}

.contentOut {
	transform:translateX(40%);
	-webkit-transform: translateX(40%);
	-webkit-transition: -webkit-transform .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in;
	     -o-transition: -o-transform .2s ease-in;
	        transition: transform .2s ease-in;
}

.sideNav {
	background-color: #1C1B22;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	width: 60%;
	z-index: 2;
	transform:translateX(-100%);
	-webkit-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-webkit-transition: -webkit-transform .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in;
	     -o-transition: -o-transform .2s ease-in;
	        transition: transform .2s ease-in;
}

.sideNavOut {
	transform:translateX(0%);
	-webkit-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-webkit-transition: -webkit-transform .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in;
	     -o-transition: -o-transform .2s ease-in;
	        transition: transform .2s ease-in;
}

.sideNavLinks {
	background: #161619;
	list-style-type: none;
	margin-top: 14%;
	width: 100%;
}

.sideNavLinks li {
	color: #ffffff;
	font-size: 14px;
	height: 50px;
	padding: 0 30px;
}

.sideNavLinks li span {
	line-height: 50px;
	vertical-align: middle;
	float: left;
	margin-left: 10px;
}

.sideNavCircle {
	background: none;
	border: 1px solid #25B0E6;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 12px;
	width: 12px;
	margin-top: 18px;
}

.navName {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
}

.navProfile {
	display: block;
	margin: 14% auto 0 auto;
}

/* Header
   ========================================================================== */

.bottomHeader {
	background: #0099CC;
	height: 40px;
	list-style-type: none;
	width: 100%;
	z-index: 3;
}

.bottomHeaderContainer {
	margin: 0 auto;
	width: 90%;
}

.bottomHeader li {
	color: #ffffff;
	float: left;
	font-size: 14px;
	width: 33.33%;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
}

.bottomHeader li:first-child {
	text-align: left;
}

.bottomHeader li:last-child {
	text-align: right;
}

header {
	background: #25B0E6;
	overflow: hidden;
	height: auto;
	left: 0;
	position: relative;
}

.headerContainer {
	margin: 0 auto;
	width: 90%;
}

.headerNavIcon {
	margin-top: 15px;
	height: 16px;
}

.topHeader {
	list-style-type: none;
	width: 90%;
	margin: 0 auto;
}

.topHeader span {
	font-size: 25px;
	color: #ffffff;
}

.topHeader li {
	float: left;
	height: 45px;
	width: 60%;
	position: relative;
}

.topHeader li:first-child {
	width: 20%;
}

.topHeader li:last-child {
	width: 20%;
}

.SherpaDesk {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

.headerSearch {
	background: transparent;
	border: none;
	font-size: 14px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	color: #ffffff;
	height: 30px;
	float: left;
	padding: 0 5px 0 5px;
	width: 70%;
}

.headerSearchContainer {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	height: 30px;
	margin-top: 7px;
	float: right;
	background: #0099CC;
	width: 0px;
}

.headerSearchIcon {
	height: 23px;
	margin-top: 10px;
	float: right;
}

.searchIconExpanded {
	height: 23px;
	margin: 4px 0 0 6px;
	float: left;
}

.searchCloseExpanded {
	float: left;
	margin-top: -2px;
	padding-left: 10px;
}

/* Dashboard
   ========================================================================== */

.dashboard {
	background: rgba(0,0,0, .4);
	height: 200px;
	position: relative;
	width: 100%;
}

.dashboardContainer {
	height: 150px;
	margin: 0 auto;
	padding-top: 15px;
	width: 100%;
}

.dashboardLeft, .dashboardRight {
	float: left;
	height: 100%;
	margin-bottom: 10px;
	width: 50%;
}

.subTicketsTicker {
  width: 70%;
  height: 50px;
  background-color: #25B0E6;
  float: left;
  margin-bottom: 13px;
}

.subTicketsTickerHalf {
  width: 30%;
  height: 50px;
  background-color: #0099CC;
  float: left;
  margin-bottom: 13px;
}

.SubTicketsTitle {
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}

.dashboardLeft {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	border-right: 1px solid rgba(255, 255, 3255, .4);
}

.mainStat {
	color: #ffffff;
	font-size: 84px;
	font-weight: 400;
	text-align: center;
}

.mainStatTitle {
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}

.navCircle {
	background: none;
	border: 1px solid #ffffff;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 10px;
	margin: 0 5px;
	width: 10px;
}

#navCircleFilled {
	background: #ffffff;
}

.navCircleContainer {
	height: 30px;
	margin: 0 auto;
	position: absolute;
	right: 0; bottom: -5px; left: 0;
	width: 40px;
}

.sideStats {
	list-style-type: none;
	height: 100%;
}

.sideStats li {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	height: 33.33%;
	padding: 0 20px;
}

.sideStatsLeft, .sideStatsRight {
	color: #ffffff;
	font-size: 16px;
	line-height: 50px;
	vertical-align: middle;
}

.sideStatsLeft {
	float: left;
}

.sideStatsRight {
	float: right;
	font-weight: 600;
}

/* TicketList Redone 
   ========================================================================== */
.TicketListfeed {
  height: 500px;
  overflow: scroll;
  width: 100%;
}
.TicketListFeedWrapper {
  width: 100%;
  height: 70px;
}

.TicketListfeedSingle {
  list-style-type: none;
  margin-top: 10px;
}

.TicketListfeedSingle li {
  float: left;
}

.TicketListFace {
  width: 20%;
  float: left;
}

.TicketListSubInfo {
  width: 60%;
  color: #ffffff;
  font-size: 10px;
  float: left;
}

.TicketListfeedSingle span {
  color: #ffffff;
  font-size: 10px;
  display: block;
}

.TicketListfeedSingle h2 {
  color: #ffffff;
  font-size: 15px;
  float: left;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-weight: 600;
}

.TicketListFeedInfo {
  width: 10%;
}

.TicketListFeedInfo ul {
  width: 10%;
  list-style: none;
  color: #ffffff;
  padding-left: 0px;
  font-size: 10px;
  
}
.Num {
  margin-bottom: 35px;
  margin-top: -22px;
  margin-left: 30px;
}

.LongSpacerBar {
  color: white;
  margin-top: -9.5px;
  margin-bottom: 10.5px;
}

.tabTitle {
  margin-bottom: 10px;
}

#tabWrapper {
  width:100%;
  margin:5px auto 0;
}

#tabWrapper h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

#tabWrapper a {
  display: block;
  font-size: 1.2em;
  padding-top: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

#tabContainer {
  width: 100%;
}

.tabs {
  height: 35px;
  margin-bottom: 4px;
  margin: 0 auto;
  margin-top: -5px;
  width: 100%;
  background-color: #0099CC;
  padding-left: 15%;
}

.tabs ul {
  font-size: 15px;
  list-style: none;
}

.tabs > ul > li {
  width: 20%;
  text-align: center;
  line-height: 35px;
  height: 35px;
  display: block;
  float: left;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
  background: #0099CC; /* old browsers */
}

.tabs > ul > li.tabActiveHeader {
  border-bottom: 2px solid #ffffff;
  height: 33px;
  cursor:pointer;
  color: #ffffff;
}

.tabscontent {
  margin:0;
  color:#333;
}
.TicketListfeed {
  height: 500px;
  overflow: scroll;
  width: 100%;
}
.TicketListFeedWrapper {
  width: 100%;
  height: 50px;
}

.TicketListfeedSingle {
  list-style-type: none;
  margin-top: 10px;
}

.TicketListfeedSingle li {
  float: left;
}

.TicketListFace {
  width: 20%;
  float: left;
}

.TicketListSubInfo {
  width: 60%;
  color: #ffffff;
  font-size: 10px;
  float: left;
  text-align: justify;
}

.TicketListfeedSingle span {
  color: #ffffff;
  font-size: 10px;
  display: block;
}

.TicketListfeedSingle h2 {
  color: #ffffff;
  font-size: 15px;
  float: left;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-weight: 600;
}

.TicketListFeedInfo {
  width: 10%;
}

.TicketListFeedInfo ul {
  width: 10%;
  list-style: none;
  color: #ffffff;
  padding-left: 0px;
  font-size: 10px;
  
}
.Num {
  margin-bottom: 35px;
  margin-top: -22px;
  margin-left: 50px;
}

.acc {
  margin-left: 18px;
}

.LongSpacerBar {
  color: white;
  margin-top: -9.5px;
  margin-bottom: 10.5px;
}
.TicketfeedContainer {
  width: 90%;
  max-width: 430px;
  margin: 0 auto;
}  

.searchBar {
  margin-top: 15px;
  margin-left: 10px;
  width: 80%;
  height: 35px;
  border:2px solid white;
}

.search {
  margin: 0px;
  width: 98%;
  background-color: transparent;
  color: white;
  font-size: 15px;
  height: 30px;
}

.searchIcon {
  height: 20px;
}

.ticketsContainer {
  overflow: scroll;
  margin: 0 auto;
  height: 448px;
  width: 90%;
}

.AccountDetailsTicketsContainer {
  overflow: scroll;
  margin: 0 auto;
  height: 217px;
  width: 90%;
}
/* Feed
   ========================================================================== */

.feed {
	height: 260px;
	overflow-y: scroll;
	width: 100%;
}


.feedContainer {
	margin: 15px auto 0 auto;
	width: 90%;
}   

.feedSingle {
	list-style-type: none;
}

.feedSingle > li {
	float: left;
	width: 60%;
}

.feedSingle > li:first-child {
	width: 22%;
}

.feedSingle > li:last-child {
	margin-top: 12px;
	width: 18%;
}

.feedTime span {
	color: #ffffff;
	font-size: 16px;
}

.feeds {
	list-style-type: none;
}

.feeds > li {
	height: 45px;
	margin-bottom: 25px;
	width: 100%;
	float: left;
}

.taskDescription {
	color: #ffffff;
	font-size: 12px;
}
/* account
   ========================================================================== */

.accountWrapper {
	margin: 0px auto;
	max-width: 80%;
	padding: 0 5%;
}

.headline {
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	margin-top: 2.5%;
}

.elementTitle {
	color: #ffffff;
	margin-left: 8%;
	margin-top: 10%;
	font-size: .75em;
}
.buttonList {
	margin-left: 2%;
	padding: 0;
	list-style: none;
  width: 100%;
}

.buttonList li {
  float: left;
  width: 30%;
  margin: 0%;
}

.button {
	background-color: #25B0E6;
	color: #ffffff;
	font-size: 30px;
	width: 85%;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	padding-bottom: 10%;
	margin: 20%;

}

.ticker {
	background-color: #000000;
	opacity: 0.5;
	color: #ffffff;
	font-size: 30px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	padding-bottom: 10%;
	margin: 20%;
	margin-left: 12%;

}

.styled-select select {
   background: #25B0E6;
   width: 105%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
   color: #ffffff;

   }

   .styled-select {
   width: 83.5%;
   height: 40px;
   overflow: hidden;
   margin-left: 8%;
   }

   .textArea {
   	margin-left: 8%;
   	width: 83.5%;
   	height: 120px;
   	background: #000000;
   	opacity: 0.5;
   	resize: none;
   	border: none;
   }

  

/* Invoice
   ========================================================================== */

.detail1 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	text-align: left !important;
	width: 40%;
}

.detail2 {
	font-size: 16px;
	width: 20%;
}

.detail3 {
	font-size: 16px;
	width: 25%;
}

.detail3Small {
	font-size: 10px;
	margin-left: 2px;
	vertical-align: top;
}

.detail4 {
	font-size: 16px;
	text-align: right;
	width: 15%;
}

.detail1Short {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	text-align: left !important;
	width: 60%;
}

.detail2Short {
	font-size: 16px;
	width: 25%;
}

.detail3Short {
	font-size: 16px;
	width: 15%;
}

.plusIcon {
	height: 25px;
}

.invoiceAccount {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	list-style-type: none;
	margin-top: 35px;
	overflow: auto;
}

.invoiceAccount li:first-child {
	float: left;
	font-size: 18px;
}

.invoiceAccount li:last-child {
	float: right;
	font-size: 14px;
	margin-top: 4px;
}

.invoiceContainer {
	overflow: scroll;
	margin: 0 auto;
	height: 545px;
	width: 90%;
}

.invoiceDetail {
	list-style-type: none;
}

.invoiceDetail li {
	color: #ffffff;
	float: left;
	text-align: right;
}

.invoiceInfo {
	list-style-type: none;
	margin-top: 15px;
}

.invoiceInfo li {
	overflow: auto;
	margin-bottom: 2px;
}

.invoiceTotal {
	color: #ffffff;
	font-size: 18px;
	text-align: right;
	width: 85%;
}

.invoiceTotalHr {
	margin-top: -5px;
	float: right;
	width: 30%;
}

.recipient {
	background: rgba(0, 0, 0, .4);
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height: 40px;
	padding: 0 20px;
	width: 100%;
}

.recipient p {
	float: left;
	color: #ffffff;
	font-size: 12px;
	line-height: 40px;
	overflow: hidden;
	vertical-align: middle;
	width: 80%;
}

.recipient img {
	height: 25px;
	margin-top: 6px;
	margin-left: 5px;
	float: right;
}

.recipientDetail {
	list-style-type: none;
}

.recipientDetail li {
	float: left;
}

.recipientDetail li:first-child {
	width: 15%;
}

.recipientDetail li:last-child {
	width: 85%;
}

.recipientDetail > li > img {
	height: 40px;
}

/* Timelog 
   ========================================================================== */

.timelogContainer {
	height: 200px;
	margin: 0 auto;
	width: 90%;
}

.timelogs {
	padding-top: 35px;
	list-style-type: none;
}
 
.timelogs > li {
	border-left: 2px solid #ffffff;
	margin-bottom: 15px;
	float: left;
	height: 50px;
	width: 100%;
}

.timelog {
	list-style-type: none;
}

.timelog li {
	float: left;
	width: 55%;
}

.timelog > li:first-child {
	width: 27%;
}

.timelog > li:last-child {
	margin-top: 12px;
	width: 18%;
}

.timelogProfile {
	display: block;
	height: 50px;
	margin: 0 auto;
}

/* account
   ========================================================================== */

.accountContainer {
	height: 440px;
	margin: 0 auto;
	overflow: scroll;
	width: 90%;
}

.buttonList {
	list-style-type: none;
	margin-top: 35px;
	width: 97%;
}

.buttonList li {
	background: rgba(0, 0, 0, .4);
	color: #ffffff;
	float: left;
	width: 35%;
	margin: 0 2.5% 15px 2.5%;
	height: 35px;
	text-align: center;
}

.buttonList li:first-child, .buttonList li:last-child{
	background-color: #489CD6;
	margin: 0;
	width: 30%;
}

.buttonList span {
	line-height: 35px;
	vertical-align: middle;

}

.buttonListSymbols {
  font-weight: 700;
  font-size: 30px;
}

.addTimeInput {
	background: rgba(0, 0, 0, .4);
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
	border: none;
	color: #ffffff;
	height: 140px;
	padding: 10px;
	width: 100%;
}

/* Footer
   ========================================================================== */

footer {
	background: rgba(0, 0, 0, .4);
	bottom: 0; left: 0; right: 0;
	height: 50px;
	position: absolute;
	width: 100%;
}

.footerContainer {
	margin: 7px auto 0 auto;
	width: 90%;	
}

.navIcon {
	height: 25px;
}

.navIcons {
	list-style-type: none;
}

.navIcons li {
	float: left;
	width: 20%;
	text-align: center;
}

.navTitle {
	color: #ffffff;
	font-size: 9px;
	margin-top: -3px;
}

/* Tickets
   ========================================================================== */

.ticketsContainer {
	overflow: scroll;
	margin: 0 auto;
	height: 448px;
	width: 90%;
}

.ticketsDesc {
	color: #ffffff;
	font-size: 12px;
}

.ticketsList {
	list-style-type: none;
	margin-top: 35px;
}

.ticketsList > li {
	background: rgba(0, 0, 0, .4);
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	overflow: auto;
	padding: 10px;
	width: 100%;
}

.ticketsProfile {
	height: 50px;
}


.ticketsList ul {
	list-style-type: none;
}

.ticketsList ul li {
	float: left;
	margin-top: 10px;
	width: 63%;
}

.ticketsList ul li:first-child {
	margin-top: 5px;
	width: 22%;
}

.ticketsList ul li:last-child {
	margin-top: 7px;
	width: 15%;
}

/* New */

/* +tickets
   ========================================================================== */
.CreateInvoiceWrapper {
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  padding-top: 30px;
  height: 380px;
}
.styled-selectTicket select {
   background: #25B0E6;
   width: 100%;
   padding-bottom: 10px;
   padding-left: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
   color: #ffffff;

   }

   .styled-selectTicket {
   width: 100%;
   max-width: 500px;
   height: 30px;
   overflow: hidden;
   font-size: 70%; 
   }

.textAreaTicket {
  width: 83.5%;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);;
  resize: none;
  border: none;
  color: #ffffff;
  margin-bottom: 25px;
   }

 .buttonTicket {
  background-color: #57DE57;
  width: 100%;
  max-width: 500px;
  height: 35px;
  max-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 2%;
  display: block;
  margin-top: 5%;
  margin: 0 auto;
  margin-bottom: 160px;

}

.elementTitleTicket {
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: .75em;
}

.elementTitleTicketTextArea {
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: .75em;
}

/* Select Payment 
   ========================================================================== */
.selectPaymentButton {
  background: #489CD6;
  border: 0;
  display: block;
  margin: 0 auto 15px auto;
  color: #ffffff;
  height: 45px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
}

.buttonNextPayment {
  background: #57DE57;
  border: 0;
  display: block;
  margin-top: 30px;
  color: #ffffff;
  height: 45px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
}

/* Account_details
   ========================================================================== */
.accountDetailsContainer {
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  height: 485px;
  padding-top: 20px;
}

.OptionsList {
  list-style-type: none;
  margin-top: 20px;
}



.OptionTitle {
  color: #ffffff;
  float: left;
  line-height: 45px;
  text-align: center;
  padding-left: 10px; 
}

.OptionsList > li{
 margin:0 0 10px 0;
 height: 45px;
}

.OptionWrapper {
  width: 85%;
  background-color: #25B0E6;
  height: 100%;
  float: left;
}

.NoticationWrapper {
  width: 15%;
  background-color: #0099CC;
  height: 100%;
  float: left;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
}

.openTicketTitle {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 35px;
}

.openTicketWrapper {
  overflow: scroll;
  height: 225px;
}

.TicketWrapper {
  background: transparent;
  height: 65px;
  width: 100%;
  border-top: 2px solid white;
  color: white;
}

.TicketWrapperList {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  line-height: 66px;
}

.TicketWrapperList li {
  float: left;
}

.TicketWrapperListName {
  font-size: 20px;
  width: 45%;
  margin-right: 40px;
  text-align: left;
  padding-left: 15px;
}

.TicketWrapperData {
  font-size: 13px;
  width: 15%;
}






/* Account_details
   ========================================================================== */
.accountListContainer {
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  height: 500px;
  padding-top: 10px;
}

.accountGroupTitle {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 5px;
}
.spacerBar {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 18px;
}

.AccountWrapper {
  width: 100%;
  overflow: scroll;
  height: 500px;
}

.AccountTicketNumber {
  height: 100%;
  width: 12%;
  float: left;
  color: #ffffff;
  line-height: 20px;
    box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.accountTicketNumberWrapper {
  list-style-type: none;
  font-size: 12px;
  margin-top: 15px;
}

.buttonShowClosedTickets {
  background:#0099CC;
  border: 0;
  display: block;
  margin-top: 30px;
  color: #ffffff;
  height: 45px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
}

.accountList {
  list-style:none;
  list-style-type:none;
}

.accountList li{
  margin-bottom: 15px;
}


/* Dashboard Redesign
   ========================================================================== */
.chartContainer {
  width: 100%;
  height: 210px;
  margin-top: -15px;
}

.queuesHeader {
  color: #ffffff;
  text-align: center;
  margin-top:20px;
  margin-bottom: -30px;
}

.ActiveAccountsContainer {
  width: 90%;
  height: 175px;
  margin-left: 20px;
  overflow: scroll;
}

.ActiveAccountsList {
  list-style: none;
}

.accountNameBlock {
  width: 60%;
  height: 40px;
  background-color: transparent;
  border-top: 1px solid white;
  float: left;
}

.accountActivityBlock {
  width: 40%;
  height: 40px;
  background-color: transparent;
  border-top: 1px solid white;
  float: left;
}

.activeAccountTitle {
  color: white;
  line-height: 40px;
  vertical-align: center;
  margin-left: 10px;
}

.activeAccountActivity {
  color: white;
  line-height: 40px;
  vertical-align: center;
  text-align: right;
  margin-right: 10px;
}

/* Ticket Detials
   ========================================================================== */
.ticketDetialsHeader {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);

}

.ticketDetialsHeaderWrapper {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  position: fixed;
}
.TDSListWrapper {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  margin-top: 10px;
}

.ticketTitleTDS {
  color: #ffffff;
  text-align: justify;
  margin-bottom: -20px;
}

.TDSList {
  list-style: none;
}

.TDSList li{
  float: left;
  width: 35%;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}

.ticketInqury {
  color: #ffffff;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

.ticketInqury p {
  font-size: 14px;
}

.TDSList li:first-child{
  width: 20%;
  margin-top: 0px;
}

.TDSList li:last-child{
  width: 45%;
  text-align: right;
  font-size: 10px;
  color: #cccccc;
  margin-top: 10px;
}

.tabpageContainer {
  width: 90%;
  height: 400px;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 10px;
}

.TDSinfo {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.TDSinfoTitle {
  margin-bottom: 5px;
}
.replyButton {
  width: 40%;
  height: 45px;
  background-color: #57DE57;
  margin-left: auto;
  margin-top: 5px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
}

.responseContainer {
  width: 100%;
  height: 138px;
  margin-top: 10px;
  border-bottom: 2px solid #cccccc;
}

.responseContainerTwo {
  width: 100%;
  height: 117px;
  margin-top: 10px;
  border-bottom: 2px solid #cccccc;
}

.responseBlock {
  list-style: none;
}

.responseBlock li {
  float: left;
}

.responseBlock li:first-child {
  width: 21%;
  height: 100%;
  margin-top: 10px;
  color: #cccccc;
  font-size: 12px;
  text-align: center;

}

.responseBlock li:last-child {
  width: 100%;
  height: 30%;
  text-align: right;
  margin-top: 10px;
  color: #cccccc;
  font-size: 10px;
}

.responseText {
  color: #ffffff;
  width: 70%;
  height: 90%;
}

.responseBlock p {
  font-size: 14px;
}

.responseImg {
  width: 60px;
  height: 60px;
}

.spacer{
  width: 100%;
  height: 10px;
  border-bottom: 2px solid #cccccc;
}

.ticketOptions {
  width: 70%;
  height: 40px;
  background-color:#57DE57;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 10px;

}

.tabs {
  height: 35px;
  margin-bottom: 4px;
  margin: 0 auto;
  margin-top: -5px;
  width: 100%;
  background-color: #0099CC;
  padding-left: 15%;
}

.tabs ul {
  font-size: 15px;
  list-style: none;
}

.tabs > ul > li {
  width: 20%;
  text-align: center;
  line-height: 35px;
  height: 35px;
  display: block;
  float: left;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
  background: #0099CC; /* old browsers */
}

.tabs > ul > li.tabActiveHeader {
  border-bottom: 2px solid #ffffff;
  height: 33px;
  cursor:pointer;
  color: #ffffff;
}