<div class="content">	
	<div class="login-container">     		
		<form class="form-signin">			
			<div class="logo">
				<img src="img/Sherpa_Desk-logo.png">
			</div>			
			<div class="showalert">
			</div>			 			
			<input type="email" id="email" class="input-block-level" placeholder="Email Address">			
			<input type="password" id="password" class="input-block-level" placeholder="Password">			 			
			<button class="btn btn-large btn-block btn-success" type="submit">Sign in
			</button>		
		</form>		 	
		<hr/> 
		<form class=google_openid action='' method=POST> 
			<a class='sign-in-with-google' href=#>
				<span>Sign in with <strong>Google</strong>
				</span></a>  
		</form>
		<form class=login_signup action='' method=POST>  
			<p/>
			<p>New to SherpaDesk?
			</p>  
			<a href=# class='btn btn-large btn-block btn-success login_signup'>Get Started for FREE</a>   		
	</div>	
	<!-- Sign up Form	<div class='login_signup'>    	<img class='signup_img' src='img/jangbu-signup.png'>                <div class='signup_content'>        	<p>New to SherpaDesk?</p>      </div>   </div>	-->
</div>
</div>