<header>
	<div class="navbar">
		<div class="navbar-inner">
			<a href="#" id="left-button" class="menu_button header_left home_icon home_button"></a>
			<a href="#" id="right-button" class="menu_button header_right add_icon add_ticket_button"></a>
			<p class="header_label">Tickets</p>                
		</div> 
		<div class="header_search_tickets">
			<input type="text" class="search" placeholder="Search Tickets">
		</div> 
		<div class="header_user_type">
			<ul class="filter">
				<li data-asrole="user">As User</li>
                <li data-asrole="tech">As Tech</li>
                <li data-asrole="alt_tech">As Alt Tech</li>
				<li class="open_tickets" data-asrole="all">All Open</li>
			</ul>
		</div>          
	</div>
</header>