<div class="showalert"></div>
	<div class="dashboard">
    	<div class="dash-tkts">        	
        	<a href="#">
                <div class="dash-astech blue-fade">
                    <p class="dash-number-large">12</p>
                    <p class="dash-desc-large">Tickets As Tech</p>
                </div>
            </a>
            <a href="#">
                <div class="blue tkt-right">
                    <p class="dash-number-sm left-num blue-fade">6</p>
                    <p class="dash-desc">As<br/>User</p>
                </div>
            </a>
            <a href="#">
                <div class="blue tkt-right">
                    <p class="dash-number-sm left-num blue-fade">12</p>
                    <p class="dash-desc">Alt<br/>Tech</p>
                </div>
            </a>
            <a href="#">
                <div class="blue tkt-right last">
                    <p class="dash-number-sm left-num blue-fade over99">99+</p>
                    <p class="dash-desc">All<br/>Open</p>
                </div>
            </a>
        </div><!-- End Dash Tickets -->
        <div class="dash-options">
            <div class="option-left">
	            <a href="#">
	                <div class="option-single blue">
	                    <p class="dash-icon"><img src="img/dash-clock.png" width="55" alt="Add"></p>
	                    <p class="dash-desc-md">Time</p>
	                </div>
	            </a>
	            <a href="#">
	                <div class="option-single blue">
	                    <p class="dash-icon"><img src="img/dash-invoice.png" width="55" alt="Add"></p>
	                    <p class="dash-desc-md">Invoice</p>
	                </div>
	            </a>
            </div><!-- End Left -->
            <div class="option-right">
	            <a href="#">
	                <div class="option-single blue">
	                    <p class="dash-icon"><img src="img/dash-accounts.png" width="55" alt="Add"></p>
	                    <p class="dash-desc-md">Accounts</p>
	                </div>
	            </a>
	            <a href="#">
	                <div class="option-single green">
	                    <p class="dash-icon"><img src="img/dash-plus-gr.png" width="55" alt="Add"></p>
	                    <p class="dash-desc-md">Ticket</p>
	                </div>
	            </a>
            </div><!-- End Right -->
        </div><!-- End Dash Options -->
    </div><!-- End Dashboard -->