<a name="top"/>
<div class="transfer"> 
	<form class="update_ticket" action="#">
		<div class="showalert"></div>	
		
		<label>Class</label>
		<select name="class" id="class">
			<option value="">---</option>			
		</select>	
		
		<label>Level</label>
		<select name="level" id="level">
			<option value="">---</option>			
		</select>	
		
		<label>Priority</label>
		<select name="priority" id="priority">
			<option value="">---</option>		
		</select>	
		
		<button class="btn btn-large btn-block btn-success" type="submit">Update Ticket</button>
	  
	</form>  
</div>