html, body, body div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}



*{
  font-family: 'Open Sans', sans-serif;
  
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}

a {
  text-decoration: none;
  color:inherit;
}

/* header */
header {
	background: url(../img/mbg3.jpg) 50% 0 repeat fixed ;
  width: 100%;
  height: 1000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

header:before {
	content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(180deg,transparent, rgba(0,0,0,.1), transparent); /* For Safari 1.1 to 6.0 */
  background: -o-linear-gradient(180deg,transparent, rgba(0,0,0,.1), transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg,transparent, rgba(0,0,0,.1), transparent); /* For Firefox 3.6 to 11 */
  background: linear-gradient(180deg,transparent, rgba(0,0,0,.1), transparent); /* Standard syntax */
}


.headerNav {
	list-style-type: none;
	width: 100%;
	height: 55px;
	position: fixed;
	margin-top: 0px;
	z-index: 3;
}

.headerNav li:nth-child(1) {
	width: 72%;
	font-size: 30px;
	line-height: 45px;
	margin-left: 10px;
	color: transparent;
	text-align: left;
}

.headerNav li {
	float: left;
	width: 8%;
	font-size: 29px;
	line-height: 55px;
	text-align: right;
}

.headerNav li:nth-child(2) {
	width: 8%;
	color: transparent;
}

.headerNav li:nth-child(3) {
	color: transparent !important;
}
.headerNav li:nth-child(5) {
	text-align: center !important;
	font-size: 17px !important
}



.phone {
	width: 271px;
	/* background-color: #2B82B3; */
	margin-right: 0px;
	padding-right: 23px;
	font-size: 38px;
	color: #5A5757 !important;	
	display: none;
	font-weight: 600 !important;
}

#phoneIcon {
	margin-top: 9px;
	font-size: 42px;
	margin-top: 18px;
}

#loginHeader {
	margin-top: 14px;
}

#contact {
	margin-top: 14px;
}

#navIcon {
	display: none;
}

.titleWrapper {
	width: 64%;
	overflow: auto;
	margin: 155px auto;
	display: block;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	padding-left: 34px;
}
.titleWrapper span {
	color: #fff;
}
.huge {
	font-size: 80px;
	font-weight: 700;
}

.big {
	font-size: 60px;
}
.reg {
	font-size: 50px;
}
.small {
	font-size: 35px;
	font-weight: 400;
}

.smallStay {
	font-size: 35px;
	font-weight: 400;
}

header h1 {
	color: transparent;
	font-size: 50px;
	font-weight: 500px !important;
	text-align: center;
}

header i {
	color: #fff;
	margin-top: 7px;
}
header p {
	float: right;
	color: #fff;
	font-size: 23px;
}

#name {
	margin-right: 100px;
}
.subTitleWrapper {
	width: 70%;
	overflow: auto;
	margin: 40px auto;
	display: block;
	border-top: 2px solid #fff;
}


header h3 {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	margin-top: 10px;
}

.subTitleWrapper span {
	color: #fff;
}

/* side Menu */ 

.sideMenuContainer {
 width: 175px;
 z-index: -1;
 height: 100%;
 position: absolute;
 background: url(../img/Climber.png) no-repeat center center;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
 display: none;
 top: 0;
 right: 0;
}

.menu {
 list-style-type: none;
 width: 85%;
 height: 90%;
 margin: 30px auto;
}

.menu li {
 width: 100%;
 float: left;
 height: 45px;
 margin-bottom: 20px;
 color: #000;
}

.menu i {
 float: left;
 width: 30%;
 float: left;
 border-radius: 50px;
}

.menuItem {
 float: left;
 width: 70%;
 height: 100%;
 line-height: 37px;
}

.menuItem p {
 margin-left: 8px;
}

.selectedMenuItem {
 color: #2ecc71;
}

#panel {
	transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
   -moz-transition: all 0.5s ease-in-out; /** Firefox **/
   -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.bodySlide {
   transform: translate(-175px,0);
   -webkit-transform: translate(-175px,0); /** Chrome & Safari **/
   -o-transform: translate(-175px,0); /** Opera **/
   -moz-transform: translate(-175px,0); /** Firefox **/
}

.adjustHeight {
	margin-top: 2px;
}

#headerGetStarted {
	position: absolute;
	width: 180px !important;
	top: 0;
	left: 0;
	display: none;
}

.loginButton {
	width: 130px;
	height: 40px;
	background-color: #777;
	border: 1px solid #646464 !important;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 40px;
}

.getStartedButton {
	width: 308px;
	height: 60px;
	background-color: #8bc500;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 60px;
	font-size: 22px;
}

.arrowDown {
	width: 100px;
	height: 40px;
	position: fixed;
	top: 0;
	display: none;
}

.arrowDown i {
	text-align: center !important;
	color: rgba(252, 252, 252, 0.34);
}

#logoBlue {
	width: 185px;
	display: none;
}

.logos {
	width: 100%;
	height: 100px;
	background-color: rgba(59, 83, 131, 0.59);
	margin-top: -101px;
}

.logos ul {
	list-style-type: none;
	width: 100%;
}

.logos li {
	float: left;
	width: 20%;
	line-height: 120px;
	display: block;
}

.logos img {
	display: block;
	margin: 2px auto;
}

.thinLogo {
	margin-top: 25px !important;
}

.video {
	width: 100%;
	height: 550px;
	background-color: #fff;
	overflow: auto;
	border-bottom: 1px solid #d8dbdf;
	position: relative;
}

.video img {
	width: 55%;
	height: 470px;
	display: block;
	margin-left: 50px;
	float: left;
	margin-top: 40px;
	margin-right: 75px;
	max-width: 900px;
}

#video {
	min-width: 600px;
}

#videoMobile {
	display: none;
}

.smallVid {
	display: none;
}

#headerButton {
	display: none;
	height: 30px;
	margin-top: 13px;
	line-height: 30px;
	font-size: 17px;
	width: 100px;
	float: left;
	border: 0px !important;
	box-shadow: 0px 5px 5px rgba(136, 136, 136, 0.26);
}

.test {
	width: 100%;
	height: 200px;
}
.videoDark {
	background-color: rgba(0,0,0,.4) !important;
}

.playVideoButton {
	background-color: rgba(0,0,0,0.2);
	width: 200px;
	height: 50px;
	position: absolute;
	top: 250px;
	border-radius: 10px;
	display: block;
	left: 23%;
	z-index: 1;
}

.playVideoButton i {
	float: left;
	color: #fff;
	line-height: 50px;
	margin-left: 20px;
}

.playVideoButton p {
	color: #fff;
	line-height: 50px;
	margin-left: 10px;
	margin-left: 80px;
	font-weight: 300;
}
.videoMobile {
	display: none;
}

.mobileStrict {
	display: none;
}
.video h1 {
	text-align: left;
	font-size: 1.5em;
	color: #4c5156;
	/* margin-top: 200px; */
	margin: 100px auto;
	font-weight: 300;
	/* margin-left: 40px; */
	width: 91%;
}

.video span {
	color: #228aa9 !important;
}

.customers {
	width: 100%;
	height: 500px;
	background-color: #f1f4f7;
}

.customers ul {
	list-style-type: none;
	width: 90%;
	margin: 0 auto;
	display: block;
}

.customers li {
	width: 33.33%;
	float: left;
}

.customers img {
	margin: 50px auto;
	width: 250px;
	display: block;
	height: 250px;
}

.customers h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #228aa9;
}

.customers h5 {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #4c5156;
	width: 90%;
	display: block;
	margin: 0 auto;
}

.pageBreak {
	width: 100%;
	overflow: auto;
	height: 300px;
	 background: url(../img/climberdark.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pageBreak h1 {
	margin-left: 162px;
	line-height: 250px;
	color: #fff;
	font-weight: 300;
	font-size: 53px;
	
}
#pageBreakGetStarted {
	margin-top: -70px;
	margin-left: 247px;
}
.SSText {

}
.screenShot {
	width: 100%;
	height: 1350px;
	overflow: visible;
	padding-top: 60px;
}

.screenShot ul {
	list-style-type: none;
	width: 90%;
	margin: 0 auto;
	overflow: visible;
}

.screenShot li {
	width: 50%;
	height: 420px;
	float: left;
	overflow: visible;
	padding-top: 50px;
	word-wrap: break-word;
	
}

.screenShot img {
	margin: 0 auto;
	display: block;
	height: 100%;
	width: 100%;
	max-width: 620px;
	max-height: 350px;
}

.mobileOnly {
	display: none;
}

.soloPhone {
	display: none;
}

.screenShotPop {
	box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.26);
}

.socailPop {
	background-color: #3B5383 !important;
}

.buttonPop {
	background-color: #83B900 !important;
}

.linkPop {
	color: #2B5BBB ;
}

.screenShot h3 {
	width: 85%;
	text-align: left;
	font-weight: 300;
	font-size: 22px;
	display: block;
	margin: 150px auto;
	color: #4c5156;
	letter-spacing: -0.5px;
}

.screenShot h2 {
	font-weight: 300;
	font-size: 35px;
	color: #228aa9;
	text-align: left;
	margin-bottom: -135px;
	margin-top: 125px;
	margin-left: 46px;

}

#midScreenShot {
	margin-top: 100px !important;
}

.mobile {
	margin-top: 200px;
	width: 100%;
	height: 730px;
	overflow: visible;
	background-color: #f1f4f7;
	padding-top: 5px;
	border-top: 1px solid #d8dbdf;
}

.appStoreWrapper {
	margin: 20px auto;
	display: block;
	width: 100%;
	/* background-color: blue; */
	padding-left: 30%;
	overflow: auto;
}

.mobileWrapper {
	width: 93%;
	/* margin: 0 auto; */
	overflow: visible;
	margin-left: 6%;
}

.mobile h1 {
	text-align: center;
	font-size: 40px;
	color: #4c5156;
	/* margin-top: 200px; */
	margin: 50px auto;
	font-weight: 300;
	width: 97%;
}

.mobile ul {
	list-style-type: none;
	width: 100%;
	float: left;
	overflow: visible;
}

.mobile li {
	float: left;
	width: 24.33%;
}
.mobile li:last-child {
	margin-right: 50px;
}

.mobile img {
	width: 200px;
	height: 400px;
}

.mobileText {
	width: 50%;
	height: 445px;
	float: left;
	margin-top: 50px;
}

.mobile h3 {
	color: #4c5156;
	width: 85%;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
	display: block;
	font-size: 25px;
}

#mobileH3 {
	margin-top: -50px;
}

#phones {
	width: 30%;
	overflow: auto;
}

.mobile span {
	color: rgba(34, 138, 169, 0.8);
}

.appStore {
	width: 165px !important;
	height: 50px !important;
	margin: 0 auto;
}

.pricing {
  width: 100%;
	overflow: auto;
	height: 600px;
	 background: url(../img/bottomImage.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.letter {
	width: 90%;
	height: 640px;
	overflow: visible;
	margin: 0 auto;
	display: block;
}

.letter h1 {
	color: #4c5156;
	margin-left: 20px;
	margin-top: 60px;
	font-weight: 300;
}

.letter p {
	color: #4c5156;
	margin-left: 20px;
	margin-top: 15px;
	font-weight: 300;
}

.letter span {
	font-weight: 400;
}

.letter img {
	margin-bottom: 40px;
	margin-left: -135px;
	margin-top: 20px;
}

.finalGetStarted {
	width: 100%;
	height: 486px;
	background-color: #3B5383;
	overflow: hidden;
	border-top: 1px solid #d8dbdf;
	position: relative;;
}

.optionWrapper {
	width: 80%;
	margin: 162px auto;
	margin-left: 300px;
}

.sherpaGuy {
	width: 589px;
	height: 752px;
	position: absolute;
	left: -129px;
	top: -28px;
	z-index: 1;
}


#lastGetStarted {
	width: 215px;
	height: 60px;
	background-color: #8bc500;
	border-radius: 5px;
	text-align: center;
	float: left;
	color: #fff;
	line-height: 60px;
	margin-top: 50px;
	font-size: 18px;
	margin-left: 388px;
}

.finalGetStarted h1 {
		margin-top: 30px;
	text-align: left;
	display: block;
	font-size: 81px;
	font-weight: 300;
	color: #;
	margin-left: 240px;
	color: #fff;
	/* float: left; */
}

.priceBlock {
	width: 650px;
	height: 70%;
	display: block;
	float: left;
	margin-left: 100px;
	margin-top: 100px;
	position: relative;
}

.or {
	width: 125px;
	height: 125px;
	border-radius: 100%;
	background-color: rgba(90, 80, 81, 0.8);
	position: absolute;
	left: 235px;
	top: 150px;
	z-index: 2;
}
.or h1 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 50px;
	line-height: 125px;
}

.free {
	width: 275px;
	height: 100%;
	background-color: rgba(181, 173, 158, 0.68);
	float: left;
	margin-right: 50px;
	z-index: 1;
	position: relative;

}

.free h1 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	border-bottom: 1px solid #fff;
}


.free h2 {
	text-align: center;
	color: #fff;
	font-size: 70px;
	font-weight: 300;
	margin-top: 15px;
}

.free h3 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin-top: 5px;
}

.free sup {
	font-size: 30px;
}

.free h4 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin-top: 10px;
}

.free div {
	width: 100%;
	height: 50px;
	background-color: rgba(97, 173, 46, 0.59);
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	/* margin-bottom: 12px; */
	display: block;
	margin-top: 49px;
	font-weight: 300;
	position: absolute;
	bottom: 0;
}

.custom h1 {
	text-align: center;
	color: rgba(59, 83, 131, 0.59);
	font-size: 60px;
	font-weight: 300;
	border-bottom: 1px solid rgba(59, 83, 131, 0.59);
}


.custom h2 {
	text-align: center;
	color: rgba(59, 83, 131, 0.59);
	font-size: 70px;
	font-weight: 300;
	margin-top: 15px;
}

.custom h3 {
	text-align: center;
	color: #4c5156;
	font-weight: 300;
	margin-top: 5px;
}

.custom sup {
	font-size: 30px;
}

.custom h4 {
	text-align: center;
	color: #4c5156;
	font-weight: 300;
	margin-top: 10px;
}

.custom div {
	width: 100%;
	height: 50px;
	background-color: rgba(97, 173, 46, 0.69);
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	/* margin-bottom: 12px; */
	display: block;
	/* margin-top: 49px; */
	font-weight: 300;
	position: absolute;
	bottom: 0;
}

.custom {
	width: 275px;
	height: 100%;
	background-color: rgba(220, 224, 219, 0.8);
	float: left;
	position: relative;
	z-index: 0;
}

.overLay {
	width: 275px;
	height: 88%;
	position: absolute;
	background-color: rgba(59, 83, 131, 0.89);
	z-index: 2;
	display: none;
}

.overLay p {
	color: #fff;
	font-size: 22px;
	text-align: center;
	width: 90%;
	margin: 150px auto;
	display: block;
}

.overLay i {
	font-size: 50px;
	color: #fff;
	/* margin: 0 auto; */
	display: block;
	text-align: center;
	margin-top: -82px;
}

#overLayCustom {
	left: 325px;
}

#overLayCustom i {
	margin-top: -109px !important;
}
footer {
	width: 100%;
	height: 400px;
	overflow: auto;
	background-color: #f1f4f7;
}

footer ul {
	list-style-type: none;
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-top: 90px;
}

footer ul li {
	float: left;
	width: 25%;
	height: 100%;
}


footer h3 {
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 18px;
}

.footer  li:nth-child(2) {
	color: #7a859e!important;
}

.footer  li:nth-child(1) {
	color: #3B5383 !important;
	width: 18% !important;
}

.footer  li:nth-child(3) {
	color: #3B5383 !important;
	width: 37% !important;
}

.footer  li:nth-child(4) {
	color: #3B5383 !important;
	width: 20% !important;
}

footer h2 {
	color: #3B5383;
	font-size: 18px;
	font-weight: 300;
}

footer textarea {
	width: 200px;
	height: 40px;
	margin-top: 20px;
	background-color: #fff;
	resize:none;
	float: left;
	line-height: 40px;
	font-size: 18px;
	color: #4c5156;
	border: 0;
}

.subscribe {
	width: 120px;
	height: 46px;
	margin-left: 10px;
	background-color: #8bc500;
	line-height: 46px;
	color: #fff;
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	text-align: center;
}

.footer li:last-child div  {
	width: 68px;
	height: 68px;
	background-color: #ccc;
	float: left;
	margin-left: 10px;
	text-align: center;
	/* padding-top: 20px; */
	/* overflow: visible; */
	margin-bottom: 10px;
}

.footer i {
	margin-top: 10px;
	color: #fff !important;
}
	